* {
  box-sizing: border-box;
}
@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes hide {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(2000px);
  }
}

body {
  display: flex;
  height: 100vh;
}
.fancy-button {
  height: 50px;
  width: 150px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(45deg, yellow, red);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  margin: auto;
  animation: jump 0.4s 0.5s ease-in-out, spin 0.5s ease-in-out,
    hide 1s 2s ease forwards;
}
