body {
  background-color: antiquewhite;
}
.box {
  border: 8px solid black;
  margin: 16px;
  padding: 16px;
  width: 512px;
  height: 128px;
}
.content {
  box-sizing: content-box;
  background-color: aquamarine;
}
.border {
  box-sizing: border-box;
  background-color: azure;
}
