.button {
  margin: 64px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  background-color: coral;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.button:hover {
  color: darkcyan;
}
.bird-icon {
  width: 32px;
  height: 32px;
  fill: white;
  vertical-align: middle;
}
.button:hover > .bird-icon {
  fill: green;
}
