* {
  box-sizing: border-box;
}
body {
  background-color: bisque;
}
.page {
  display: flex;
  height: 100vh;
}
.login-form {
  background-color: aqua;
  font-family: monospace;
  font-size: 16px;
  margin: auto;
  width: 300px;
  padding: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.form-title {
  text-transform: uppercase;
  text-align: center;
}
.form-control {
  margin-bottom: 8px;
}
.form-input {
  padding: 4px;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #080808;
  outline: none;
}
.form-input:invalid {
  border: 3px solid #ff0000;
}
.form-label {
  display: block;
  margin-bottom: 4px;
}
.submit-button {
  width: 100%;
  height: 32px;
  background-color: #ff7f50;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 4px;
}
