* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #555;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  color: white;
  text-align: center;
  background: linear-gradient(60deg, red, orange);
  flex-grow: 0;
}
.footer {
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
  padding: 0.5em;
}
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.navigation {
  padding: 0.5em;
}
.section {
  padding: 0.5em;
  font-size: 1.25em;
}
.news {
  padding: 0.5em;
}
.units-list {
  line-height: 1.75em;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
.section__header {
  font-size: 5vw;
  text-align: center;
}
.nav-list {
  padding: 0px;
  list-style: none;
}
.nav-list-item {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #808080;
  color: white;
  line-height: 2em;
  margin-bottom: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.nav-list-link {
  text-decoration: none;
  color: white;
}
img {
  max-width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 600px) {
  .nav-section {
    display: flex;
    width: 100%;
    flex-grow: 1;
  }
  .news {
    width: 100%;
    flex-grow: 0;
  }
  .navigation {
    flex-grow: 1;
    width: 20%;
  }
  .section {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .main {
    flex-direction: row;
  }
  .navigation {
    width: 20vw;
  }
  .section {
    width: 60vw;
  }
}
