* {
  box-sizing: border-box;
}

.header-text {
  margin: 0;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 96px;
  font-weight: 700;
  background-image: linear-gradient(45deg, red, yellow);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
