.already-learned > ol {
  background-color: green;
  color: white;
}

.already-learned code {
  background-color: orange;
}

.to-be-learned > ol {
  background-color: orange;
  color: green;
}

.to-be-learned code {
  background-color: green;
}

#special1 + li code {
  border: 2px solid blue;
}

#special2 ~ li {
  font-size: 24px;
}
