* {
  box-sizing: border-box;
}
table {
  margin: 16px;
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  min-width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid black;
}

tr > td:first-child,
tr > td:last-child {
  border: none;
  background-color: white !important;
}
tr:nth-child(even) > td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
  background-color: black;
}

tr:first-child > td,
tr:last-child > td {
  background-color: white !important;
  border: none;
}
