* {
  box-sizing: border-box;
}
.image-container {
  margin: 50px 0px;
}
.main-image {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  border-radius: 20px;
}
.gallery {
  display: flex;
}
.caption {
  line-height: 30px;
  text-align: center;
  text-transform: lowercase;
}
.card {
  margin: 16px;
  box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, 0.75);
}
.opacity {
  filter: opacity(50%);
}
.blur {
  filter: blur(4px);
}
.invert {
  filter: invert(100%);
}
