* {
  box-sizing: border-box;
}
.navigation {
  display: flex;
  background-color: #ff7f50;
  min-height: 200px;
}

.products-list {
  display: flex;
  background-color: #006400;
  min-height: 200px;
}
.news {
  display: flex;
  background-color: #0ff;
  min-height: 200px;
}
span {
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  text-transform: lowercase;
}
@mixin for-small-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-large-up {
  @media (min-width: 900px) {
    @content;
  }
}
