* {
  box-sizing: border-box;
}
table {
  margin: 16px;
  width: 500px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: right;
}

th,
td {
  padding: 4px;
  border: 1px solid black;
}
