* {
  box-sizing: border-box;
}
.content {
  display: flex;
  min-height: 100vh;
}
.gallery {
  display: flex;
  width: 80%;
  background-color: #fa5;
}
.ideas {
  width: 20%;
  background-color: #5af;
}
.image {
  max-width: 100%;
  margin: auto;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.ideas {
  display: flex;
}
.idea {
  margin: auto;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
