* {
  box-sizing: border-box;
}
table {
  margin: 16px;
  width: 500px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: right;
}

th,
td {
  padding: 4px;
  border: 1px solid black;
  line-height: 40px;
}
tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}
div {
  overflow-x: auto;
}

tbody > tr:hover {
  color: #fff;
  background-color: #aaa;
}
thead {
  background-color: aqua;
}

caption {
  padding-bottom: 8px;
}
tfoot {
  font-weight: 700;
}
