* {
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.header {
  display: flex;
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #eee;
}
.fa {
  font-size: 2em;
}
.header-button {
  display: none;
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: none;
  cursor: pointer;
  align-items: center;
}
.nav-list {
  padding: 0px;
  list-style-type: none;
}
.navigation {
  width: 20%;
  padding: 0.5em;
}
.nav-list-item {
  background-color: #808080;
  line-height: 2em;
  margin-bottom: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.nav-list-link {
  color: white;
  text-decoration: none;
  padding-left: 0.5em;
}
@media screen and (max-width: 600px) {
  .navigation {
    display: none;
  }
  .header-button {
    display: flex;
  }
}
