* {
  box-sizing: border-box;
}
.block {
  height: 200px;
  width: 20%;
  float: left;
}
.block_red {
  background-color: red;
}
.block_blue {
  background-color: blue;
}
.block_yellow {
  background-color: yellow;
}
.block_green {
  background-color: green;
}
.block_black {
  background-color: black;
}
