* {
  box-sizing: border-box;
}
.navigation {
  background-color: #ff7f50;
  min-height: 200px;
  display: flex;
  flex: 1;
}
.products-list {
  background-color: #006400;
  min-height: 200px;
  display: flex;
  flex: 1;
}
.news {
  background-color: #0ff;
  min-height: 200px;
  display: flex;
  flex: 1;
}
span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: lowercase;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  margin: auto;
}
@media screen and (min-width: 600px) {
  .products {
    display: flex;
    flex: 2;
  }
}
@media screen and (min-width: 900px) {
  .content {
    display: flex;
  }
}
