* {
  box-sizing: border-box;
}
.image {
  display: block;
  margin: auto;
  z-index: 0;
  max-width: 100%;
}
.image-container {
  position: relative;
}
.image-button {
  z-index: 1;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 100px);
  height: 50px;
  width: 200px;
  line-height: 50px;
  background-color: bisque;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.5;
  text-align: center;
}
.image-button:hover {
  opacity: 1;
  cursor: pointer;
}
