.anchor:link {
  background-color: black;
  color: white;
}

.anchor:visited {
  background-color: orange;
  color: green;
}

.anchor:active,
button:active:enabled {
  border: 3px solid red;
}

.anchor:hover {
  font-size: 24px;
}

button:disabled {
  border: 2px dashed grey;
}
button:enabled:hover {
  background-color: grey;
  color: white;
}

.search:focus {
  background-color: orange;
}

.confirm-checkbox:checked {
  margin-left: 20px;
}
