/* * {
  box-sizing: border-box;
} */
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: flex;
  height: 100vh;
}
.spinner {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s infinite linear;
}
.circle {
  height: 50px;
  width: 50px;
  border: 4px solid lightgrey;
  border-top: 4px solid black;
  margin-bottom: 8px;
  border-radius: 50%;
  animation: spin 2s infinite linear;
  box-sizing: border-box;
}
