.header {
  line-height: 3em;
  background-color: #006400;
}
.menu {
  display: flex;
  align-items: center;
  margin: 0 0 0 3em;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
  &__item {
    display: flex;
    align-items: center;
    padding: 0 8px;
    list-style-type: none;
    color: #fff;
    &_active {
      color: yellow;
    }
    &:hover {
      background-color: #9acd32;
    }
  }
  &__item:hover .submenu {
    visibility: visible;
  }
}
.submenu {
  display: block;
  min-width: 120px;
  z-index: 1;
  margin: 0;
  padding: 0;
  background-color: #ff7f50;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 3em;
  color: #fff;
  visibility: hidden;

  &__item {
    padding: 0 8px;
    list-style-type: none;
    &:hover {
      color: black;
    }
  }
}
